.FooterItems {
  background: white;
  height:10vh;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 0px;
}

.FooterItems {
  padding-top: 20px;
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 30px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: center;
  margin-right: 2rem;
}

.footer-link {
  color: rgb(113, 108, 108);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.footer-link:hover {
  color:rgb(107, 66, 66);
  transition: all 0.2s ease-out;
}

.footer-copyright {
  color: rgb(113, 108, 108);
  padding: 20px 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}