body {
  background: linear-gradient(90deg,#f3ecf4 0%, #faf9f6 100%);
}

.main-part {
  width: 80vw;
  margin: auto;
}

.main-heading {
  display: flex;
  justify-content: center;
  font-size: 28px;
  padding-top: 30px;
  color: rgb(113, 108, 108);
  text-transform: uppercase;
}

.main-component {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  margin: auto;
}

.paint-grid {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(4, auto);
  gap: 60px;
}

.grid-element{
  border: 1px solid #555;
  border-radius: 8px;
  height: 200px;
  width: 150px;
  display: flex;
  text-align:center;
  border-radius: 5px;
  border: none;
  box-shadow: 10px 7px 7px #adacad;
  cursor: pointer;
}

.grid-element:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;

}